@import "parciales/base";
@import "parciales/header";
@import "parciales/footer";
@import "parciales/index";
@import "parciales/guias";
@import "parciales/galeria";
@import "parciales/contacto";
@import "parciales/comunidad";
@import "parciales/mediaqueries";



