* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* paleta de colores */

$paleta:(
  verdoso: #064635,
  verde:#519259,
  naranja:#F0BB62,
  amarillo:#F4EEA9,
  violeta:#900cb1,
  morado:#310346,
  blanco: white,
  negro: black
);

$verdoso: map-get($paleta, verdoso);
$verde: map-get($paleta,verde);
$naranja: map-get($paleta,naranja);
$amarillo: map-get($paleta,amarillo);
$violeta: map-get($paleta,violeta);
$morado: map-get($paleta,morado);
$blanco: map-get($paleta,blanco);
$negro: map-get($paleta,negro);


      /* --- BODY --- */

      body {
font-family: 'Mukta', sans-serif !important ; 
background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), url(../imagenes/fondomaria2.jpg);
background-position: center;

/* background-attachment es para que la imagen se mueva o quede fija cuando nos movemos por la pagina */
background-attachment: fixed;
background-size: cover;

/*para que el footer sea stick necesitamos que el body tenga altura minima (esto es experimental al 21/4)*/
min-height: 100%;
flex-wrap: wrap;
}

@mixin dimensiones ($marg:0, $padd:0, $wid:100%, $heig:100%)
{
  margin: $marg;
  padding: $padd;
  width: $wid;
  height: $heig;
}

@mixin backgimg ($backgsize:cover, $backgposition:center, $boradius:0px, $boxsha:0px 0px 5px)
{
  background-size: $backgsize;
  background-position: $backgposition;
  border-radius: $boradius;
  box-shadow: $boxsha;
}