/* COMUNIDAD */
.link1:hover{
    color: $blanco;
}

.amigos {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: " ele1 ele1 ele1"
                         " ele2 ele3 ele4";
    margin: 15px 25px ;
    min-height: 900px;  
    color: $morado;
    
    &--grow {
        grid-area: ele1;   
        margin-top: 15px; 
        background-color: $naranja;
        width: 100%;
        text-align: start;    
        display: flex; 
        flex-flow: row nowrap;
        justify-content: space-between;
        min-height: 300px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        h3{
            font-size: 4rem;            
        }

        &-contacto{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-right: 5px;
        }

        &-iframe iframe {  
            width: 500px;
            height: 100%;
        }       
    }
    &--weedword{        
        background-image: url(../imagenes/comunidad/weedwordlogo_auto_x2.jpg);
        @include backgimg (cover, center, 15px, 5px 5px 15px rgba($negro, 0.9));
        padding: 15px;
        
        h3{
            display: inline;
            background: rgba($morado,0.7 );
            border-radius: 0.5rem;
        }        
    }
    &--elpityseeds {
        background-image: url(../imagenes/comunidad/pityseedslogo.png);
        @include backgimg (cover, center, 15px, 5px 5px 15px rgba($negro, 0.9));
        padding: 15px;   
        
        h3{
            display: inline;
            background: rgba($morado,0.7 );
            border-radius: 0.5rem;
        }     
    }
    &--cannabunker{
        background-image: url(../imagenes/comunidad/cannabunkerlogo.png);
        @include backgimg (fill, center, 15px, 5px 5px 15px rgba($negro, 0.9));
        padding: 15px;
        margin-bottom: 10px;

        h3{
            display: inline;
            background: rgba($morado,0.7 );
            border-radius: 0.5rem;
        }     
    }
}

.red-social-comunidad {    
    display: flex;
    flex: auto;
    justify-content: space-around;
    padding-left: 10px;    

    ul{
        align-items: center;
        list-style: none;    
        
    }
    a{
        text-decoration: none;
        color: $violeta;
        
        span{
            background: rgba($morado,0.3 );      
        border-radius: 0.5rem;  
        }
    }
    p{
        font-size: 2rem;       
    }
}

.comunidad_img1 {
    background: url(../imagenes/comunidad/growthc.jpg);
    @include backgimg (cover, center, 15px, 5px 5px 15px rgba($negro, 0.9));
    
    width: 500px;
    height: auto;

    img{
        width: 100%;
        height: 100%;
    }
}

.jamcomunidad {
    font-size: 3rem;   
    list-style: none;   
    
    
    a{ 
        text-decoration: none;        
        color: $violeta;
        margin: 10px;
        
        span{
            background: rgba($negro,0.3);
            border-radius: 1rem;
        }
    }
}
   