/* COMUNIDAD */
.link1:hover{
    color: white;
}

.amigos {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: " ele1 ele1 ele1"
                         " ele2 ele3 ele4";
    margin: 15px 25px ;
    min-height: 900px;  
    
    &--grow {
        grid-area: ele1;   
        margin-top: 15px; 
        background-color: #F0BB62;
        width: 100%;
        text-align: start;    
        display: flex; 
        flex-flow: row nowrap;
        justify-content: space-between;
        min-height: 300px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        h3{
            font-size: 4rem;
        }

        &-iframe iframe {  
            width: 500px;
            height: 100%;
        }       
    }
    &--weedword{
        background-image: url(../imagenes/comunidad/weedwordlogo_auto_x2.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    }
    &--elpityseeds {
        background-image: url(../imagenes/comunidad/pityseedslogo.png);
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9); 
    }
    &--cannabunker{
        background-image: url(../imagenes/comunidad/cannabunkerlogo.png);
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    }
}

.red-social-comunidad {    
    display: flex;
    flex: auto;
    justify-content: space-around;
    padding: 0 15px;

    ul{
        align-items: center;
        list-style: none;    
    }
    a{
        text-decoration: none;
        color: #064635;
    }
    p{
        font-size: 2rem;
    }
}

.comunidad_img1 {
    background: url(../imagenes/comunidad/growthc.jpg);
    background-size: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    width: 500px;
    height: auto;

    img{
        width: 100%;
        height: 100%;
    }
}

.jamcomunidad {
    font-size: 3rem;   
    list-style: none;   
    
    a{ 
        text-decoration: none;        
        color: #064635;
    }
}
   