
/* **** CONTACTO **** */
.form {
    display: flex;
    justify-content: center;

    &-contact {
        background-color: rgba(139, 36, 170, 0.9);
        width: 400px;
        box-shadow: 2px 1px 5px ;
        padding: 10px;
        }

    }
  
    .contact{
        label, input, textarea{
            display: block;
            width: 100%;
            padding: 5px;
            margin-bottom: 5px;
            color: white;
            font-weight: 900;
        }
        input, textarea{
            border: none;
            border-bottom: 2px solid #000000;
            font-size: 1.5rem;
            color: #000000;
        }
        &-img{
            background: url(../imagenes/contacto/contacto.png);
            width: 100%;
            height: 200px;
            background-size: contain;
            border-radius: 30px;
        }
        &-text p{
            font-size: 2.5rem;
            background-color: #519259;
        }
    }

