               /* ---- PIE DE PAGINA ---- */
footer{     
    margin-top: auto;
}

.pie-pagina {
    width: 100%;
    background-color: $verdoso;
    
    
    & .grupo1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: flex-end;

        & .box{
            justify-content: center;
            justify-items: center;
            width: 300px;

            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 5px ;

                img{
                    width: 120px;
                    border-radius: 50%;
                }
                
            }
            h2{
                color: $blanco;
                margin-bottom: 25px;
                margin-left: 15px;
                font-size: 25px;
                padding-top: 1rem;
            }
            p{
                color: $blanco;
                margin-bottom: 1rem;
                margin-left: 1rem;
                line-height: 1.5rem; 
            }
            & .red-social {
                list-style: none;
                margin-left: 1rem;

                a{
                    text-decoration: none;
                    color: $blanco;

                    &:hover{
                        box-shadow: 0 0 15px $blanco;
                        background-color: $amarillo;
                        color: $verdoso;
                    }
                }
                span{
                    padding-right: 1rem;
                    line-height: 1.5rem;
                }                
            }
        }        
    }
    & .grupo2{
        color: $blanco;
        margin-top: 2px;
    }      
}


