     
        /* ---- para la galeria ----*/


.galeria {
    max-width: 100%;
    --bs-gutter-x:0 !important;
    margin-bottom: 1.5rem; 
    h2 {
        color:$negro;
        text-decoration:none;
        text-align:center ; 
        background-size: contain;
        border-radius: 0.5rem;
        margin: 1rem;
    }
    div {
        overflow: hidden;     
    }
    div h2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        background-color: rgba($negro, 0.5);
        color: $blanco;
    }
    div img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border: 3px solid $amarillo;
        
        &:hover{
            transition: 2s;
            transform: scale(1.2);
            opacity: 0.5;
        }
    }
}
         
                
.modalTitulo{
    position: absolute;
    top: 100%;
    color: $blanco;
    display: block;
    background-color: rgba($negro, 0.7);
    font-size: 2rem;
    text-align: center;            
}