
         /* ---- PARA EL HEADER ----*/
              
        header{
            position: sticky;
            top: 0; 
            z-index: 100;    
            border-bottom: 3px solid $amarillo;       
        }
        .ul {
            display: flex;
            padding: 0; 
            background-color: $verde;
            list-style: none;
            width: auto;
            height: 60px;
            justify-content: center;
            align-items: center;
            margin-bottom: 0 !important;  
            

                       
            a {
                color: $naranja;
                text-decoration: none;
                margin: 1rem;
                font-size: 1.5rem;

                &:hover{
                    color: $blanco;

                }
            }

        }
        .wel {
            font-size: 30px;
            color: $negro;
            background-color: $amarillo;
            display: flex;
            justify-content: center;
            align-items: center;            
        }
        
       
        