
         /* ---- PARA EL HEADER ----*/
        
        .h1 {
            background-color: $verdoso;
            color: $amarillo;
            font-size: 3rem;
            display: flex;
            justify-content: center;
            margin-bottom: 0 !important;
        }
        .ul {
            display: flex;
            padding: 0; 
            background-color: $verde;
            list-style: none;
            width: auto;
            height: 40px;
            justify-content: center;
            align-items: center;
            margin-bottom: 0 !important;            
            
            a {
                color: $naranja;
                text-decoration: none;
                margin: 1rem;
                font-size: 1.5rem;

                &:hover{
                    color: $blanco;

                }
            }

        }
        .wel {
            font-size: 30px;
            color: $negro;
            background-color: $amarillo;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
       
        