     /* ---- INDEX ---- */
    
    .sombra {
        margin: 15px;
        &:hover{
            box-shadow: 0 0 10px $violeta, 0 0 30px $morado;            
        }

        article{
            margin: 0.5rem;
        }
        h3{
            background: linear-gradient(to right, $verde, $blanco);
            font-size: 1.7rem;
            margin-bottom: 0.5rem;

            &:hover{
                box-shadow: 0 0 10px $verde, 0 0 30px $verdoso;
                background: $verde;
                color: $amarillo;
            }        
        }
        p{
            color: $negro;
            margin-bottom: 0 ;
            text-indent: 1rem; /*para darle sangria*/
            font-size: 1.5rem;
            font-weight: 600; /*para que se lea mejor grosor de letra*/
            background-color: rgba($amarillo, 0.75);
        }
        img{
            border-radius: 1rem ;
            border: solid $blanco 2px;
            width:95%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .efecto1 {
        color: $blanco; 
        background-color: rgba($negro, 0.5);
        
        &:hover{            
            text-decoration: underline;
        }
    } 
  
    /* boton para ir a enlace externo */
       
    .button {
        text-decoration: none;
        font-size: 1.5rem;
        color: $negro;
        font-weight: bold; /*darle negrita*/
        padding: 10px 25px;
        border: 3px solid $negro;
        background-color: $naranja;
        position: relative;       

        &__margin {
            margin: 40px 0px;
        }

        &:hover{
            color: $violeta;
        }
        &::before, &::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            border: inherit;
            transition: all 0.5s;
        }
        &::before{
            top: -15px;
            left: -15px;
            border-width: 3px 0 0 3px;
        }
        &::after{
            bottom: -15px;
            right: -15px;
            border-width: 0 3px 3px 0;
        }
        &:hover::before, &:hover::after {
                width: calc(100% + 27px);
                height: calc(100% + 27px);
        }
}
   
    
    